html {
  font-size: 16px;
}

.navigation {
  background-color: #2d2d2d;
  color: #FAFAFA;
  padding: 1rem;
}

.bg-image {
  background-image: url('../assets/bg.jpg');
  height: 30vh;
  background-position: center;
  background-size: cover;
}

element.style {
  color: orange;
  border-radius: 50%;
  background: blue;
  padding: 40px;
}
